# Load Jobs
BE CAREFUL WITH MODE

In [5]:
import pandas as pd

from appvoc.container import AppVoCContainer
from appvoc.infrastructure.file.io import IOService

In [6]:
container = AppVoCContainer()
container.init_resources()
container.wire(packages=["appvoc.data.acquisition"])

## Load Job

In [7]:
FP = "data/ops/job.csv"
df = IOService.read(FP)
df['completed'] =  pd.to_datetime(df['completed'])

In [8]:
repo = container.data.job_repo()
repo.replace(data=df)
repo.getall()

,id,controller,category_id,category,complete,completed
0,rating-6018,RatingController,6018,Books,False,1970-01-01 00:10:00
1,rating-6000,RatingController,6000,Business,False,1970-01-01 00:10:00
2,rating-6022,RatingController,6022,Catalogs,False,1970-01-01 00:10:00
3,rating-6017,RatingController,6017,Education,False,1970-01-01 00:10:00
4,rating-6016,RatingController,6016,Entertainment,False,1970-01-01 00:10:00
...,...,...,...,...,...,...
135,review-6005,ReviewController,6005,Social Networking,False,1970-01-01 00:10:00
136,review-6004,ReviewController,6004,Sports,False,1970-01-01 00:10:00
137,review-6003,ReviewController,6003,Travel,False,1970-01-01 00:10:00
138,review-6002,ReviewController,6002,Utilities,False,1970-01-01 00:10:00
139,review-6001,ReviewController,6001,Weather,False,1970-01-01 00:10:00